<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.tugraz.sw14.xp04"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    
    <permission
        android:name="com.appsrox.instachat.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="edu.tugraz.sw14.xp04" />

    <uses-permission android:name="com.appsrox.instachat.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:name="edu.tugraz.sw14.xp04.helpers.MApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_sam"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="edu.tugraz.sw14.xp04.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="edu.tugraz.sw14.xp04" />
            </intent-filter>
        </receiver>

        <service
            android:name="edu.tugraz.sw14.xp04.gcm.GcmIntentService"
            android:enabled="true" />

        <activity
            android:name="edu.tugraz.sw14.xp04.ActivityLaunch"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.tugraz.sw14.xp04.ActivityQuit"
            android:label="@string/a_quit"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeQuit" >
        </activity>
        <activity
            android:name="edu.tugraz.sw14.xp04.ActivityMain"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.tugraz.sw14.xp04.ActivityLogin"
            android:label="@string/title_activity_activity_login" >
        </activity>
        <activity
            android:name="edu.tugraz.sw14.xp04.ActivityRegistration"
            android:label="@string/title_activity_activity_registration" >
        </activity>
        <activity
            android:name="edu.tugraz.sw14.xp04.ActivitySendTestMessage"
            android:label="@string/title_activity_activity_send_test_message" >
        </activity>
    </application>

</manifest>